  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
    <!-- BRING IN A STATIC FILE HERE? -->
    <script defer src="/js/siwg.js"></script>
  <% } %>
</head>
<body>
  <nav>
    <% if (user) { %>
      <a href="/auth/logout">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
      <!-- DO NEW BUTTON STUFF HERE!! -->
      <div id="siwg"></div>
      <!-- NEW BUTTON ABOVE OLD BUTTON BELOW -->
      <!-- <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a> -->
    <% } %>
  </nav>
